<h1> Stupid Coaching</h1>

<div class="row">
  <div class="col">
    <h2 type="text" class="form-control" aria-label="First name"><%= @answer  %></h2>
    <a href="/ask">Ask again</a>
  </div>
</div>
